<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <form [formGroup]="persona" (ngSubmit)="registrar()">
      <ion-input formControlName="rut" type="text" label="RUT" labelPlacement="stacked"></ion-input>
      <ion-input formControlName="nombre" type="text" label="Nombre" labelPlacement="stacked"></ion-input>
      <ion-input formControlName="fecha_nacimiento" type="date" label="Fecha nacimiento" labelPlacement="stacked"></ion-input>
      <ion-select formControlName="genero" label="Género" labelPlacement="stacked">
        <ion-select-option>Masculino</ion-select-option>
        <ion-select-option>Femenino</ion-select-option>
        <ion-select-option>Otro</ion-select-option>
      </ion-select>
      <ion-label>¿Tiene equipo?</ion-label>
      <br>
      <ion-radio-group formControlName="tiene_equipo">
        <ion-radio value="si">Si</ion-radio>
        <ion-radio value="no">No</ion-radio>
      </ion-radio-group>
      <ion-input *ngIf="persona.controls.tiene_equipo.value=='si'" formControlName="nombre_equipo" type="text" label="Nombre del equipo" labelPlacement="stacked"></ion-input>
      <ion-button id="present-alert" [disabled]="habilitar_boton()" type="submit" size="block" color="warning">Registrar</ion-button>
      <ion-alert trigger="present-alert" header="alert!" [buttons]="alertButtons" (didDismiss)="setResult($event)"></ion-alert>
    </form>
    <!--esto es solo para hacer un test-->
    <p>{{persona.value}}</p>
  </ion-card>

</ion-content>
